/node_modules
/public/hot
/public/storage
/public/uploads/configs
/public/uploads/images
/public/uploads/www
/public/uploads
/public/sitemap.xml
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
