@charset "UTF-8";
/* Base Styles */
#cssmenu,
#cssmenu ul,
#cssmenu li,
#cssmenu a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-weight: normal;
  text-decoration: none;
  line-height: 1;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  position: relative;
}
#cssmenu a {
  line-height: 1.3;
}
#cssmenu {
	border-radius: 4px;
	padding-bottom: 16px;
}
#cssmenu > ul > li {
      margin: 0 0 2px 0;
    padding-bottom: 0px;
    border-bottom: none;
}
@media (max-width: 767px){
	#cssmenu > ul > li {
		
	}
	#cssmenu > ul > li {
		
	}	
	#cssmenu {
		padding-bottom: 0px;
	}	
}
#cssmenu > ul > li:last-child {
  margin: 0;
}
#cssmenu > ul > li > a {
  font-size: 15px;
  display: block;
  color: black;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #dddddd;
}
#cssmenu > ul > li > a:first-child {
  font-size: 15px;
  display: block;
  color: black;
  padding: 0px;
  border-bottom: 1px solid #dddddd;
}
#cssmenu > ul > li > a > span {
  display: block;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
#cssmenu > ul > li > a:hover {
  text-decoration: none;
}
#cssmenu > ul > li.active {
  border-bottom: none;
}
#cssmenu > ul > li.active > a {
  background: #f5f5f5;
  color: black;
}
#cssmenu > ul > li.active > a span {
  
}
#cssmenu > ul > li.has-sub > a span {
  background: none;
  padding-left: 20px;
}
#cssmenu > ul > li.has-sub.active > a span {
  background: none;
}
/* Sub menu */
#cssmenu ul ul {
  	padding: 12px 0px;
  	display: block;
  	margin-bottom: -16px;
	border-bottom: none;
	border-top: none;
	margin-top: 0px;
	background-color: #f0f0f0;
}

#cssmenu ul ul li {
  padding: 15px 0;
  border-bottom: 1px solid #cacaca;
  padding-left: 20px;
}
#cssmenu ul ul li:last-child {
  padding: 15px 0;
  border-bottom: none;
  padding-left: 20px;
}

#cssmenu ul ul a {
  color: #003b61;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  transition: color 0.5s;
  text-transform: capitalize;
}
#cssmenu ul ul i {
	padding-right: 10px;
	color: #696969;
}
#cssmenu ul ul a:hover {
  color: #0bbff2;
}
@media (max-width: 767px){
	#cssmenu ul ul
	{
		display: none;
	}
	#cssmenu ul ul
	{
		border-bottom: none;
		border-top: none;
		margin-top: 0px;
	}
	#cssmenu ul ul li {
	  border-bottom: 1px solid #CCC;
	}
	#cssmenu > ul > li.has-sub > a .danhmuc-sanpham {
	  background-image: url(../images/icon_plus.png);
	  background-repeat: no-repeat;
	  background-position: 98% center;
	  background-color: #0bbff2;
	}
	#cssmenu > ul > li.has-sub.active > a .danhmuc-sanpham {
	  background-image: url(../images/icon_minus.png);
	  background-repeat: no-repeat;
	  background-position: 98% center;
	  background-color: #0bbff2;
	}
}

